extends layout

block head
  link(href='/stylesheets/base.css', rel='stylesheet')
  link(href='/stylesheets/divimage.css', rel='stylesheet')
  script(src='/javascripts/socket.js')
  style.
    .nav-tabs>li { background-color: #ECF0F1 }

block footer
  script(src='/javascripts/draft.js')
  script(src='/javascripts/draft-admin.js')

block content
  div.container
    style.
      .row { margin-top: 24px;}

    div.row
      div.col-lg-12
        div(name='url').control-group
          label(for='url',class='control-label') Draft URL
          div.controls
            input(data-group='text',type='text',id='url',placeholder='http://www.somedrafttool.com/en/drafttool/12345',class='form-control')

    div.row
      div.col-sm-4
        div.control-group
          label(for='team1-name',class='control-label') Team 1 Name
          div.controls
            input(data-group='text',type='text',id='team1-name',name='team1-name',placeholder='Rancho Carne Toros',class='form-control')
      div.col-sm-1
        div.control-group
          label(for='team1-score',class='control-label') Pool
          div.controls
            input(data-group='value',type='text',id='team1-score',name='team1-score',placeholder='0',class='form-control',disabled,value=0)
      div.col-sm-2
        div.control-group
          label(for='timer',class='control-label') Timer
          div.controls
            input(data-group='value',type='text',id='timer',name='timer',placeholder='0',class='form-control',disabled,value=0)
      div.col-sm-1
        div.control-group
          label(for='team2-score',class='control-label') Pool
          div.controls
            input(data-group='value',type='text',id='team1-score',name='team1-score',placeholder='0',class='form-control',disabled,value=0)
      div.col-sm-4
        div.control-group
          label(for='team2-name',class='control-label') Team 2 Name
          div.controls
            input(data-group='text',type='text',id='team2-name',name='team2-name',placeholder='East Compton Clovers',class='form-control')

    div.row
      div.col-lg-12
        div.row
          div.col-lg-12.text-center
            div.btn-toolbar
              a(data-group='game-control-pills',id='btnDisconnect',data-action='disconnect',data-class='danger',style='display: none').btn.btn-lg.btn-danger Disconnect
              a(data-group='game-control-pills',id='btnConnect',data-action='connect',data-class='success').btn.btn-lg.btn-success Connect
              a(data-group='game-reset-pills',id='btnReload',data-action='reset').btn.btn-lg.btn-warning Reload
        div.row
          div.col-sm-2
              div(data-group='pictures',id='team1-ban1-picture').center.divimage.divimagelg
          div.col-sm-2
              div(data-group='pictures',id='team1-ban2-picture').center.divimage.divimagelg
          div.col-sm-4
            div(data-group='pictures',id='map-picture').center.divimage.map-small
          div.col-sm-2
              div(data-group='pictures',id='team2-ban1-picture').center.divimage.divimagelg
          div.col-sm-2
              div(data-group='pictures',id='team2-ban2-picture').center.divimage.divimagelg

        - for (var x = 1; x < 6; ++x) {
          div.row
            div.col-sm-2
              div(data-group='pictures',id='team1-hero'+x+'-picture').center.divimage.divimagelg
            div.col-sm-4
              label(for='team2-name',class='control-label') team1-hero#{x}
              div.controls
                input(data-group='selects',role='trigger',data-trigger='picture',id='team1-hero'+x,class='form-control',disabled)
            div.col-sm-4
              label(for='team2-name',class='control-label') team2-hero#{x}
              div.controls
                input(data-group='selects',role='trigger',data-trigger='picture',id='team2-hero'+x,class='form-control',disabled)
            div.col-sm-2
              div(data-group='pictures',id='team2-hero'+x+'-picture').center.divimage.divimagelg
        - }


    div.row
      div.col-lg-12
        div.control-group
          label(for='announcement',class='control-label') Announcement
          div.controls
            input(data-group='text',type='text',id='announcement',name='announcement',placeholder='Coming Up: The finals!',class='form-control')

