include mixins.jade
doctype html
html
  head
    title= title
    link(href="//fonts.googleapis.com/css?family=Exo+2:400,500,700", rel="stylesheet", type="text/css")
    link(href="/cdn/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',rel='stylesheet', type="text/css")
    link(href="/stylesheets/animate.css", rel="stylesheet", type="text/css")
    link(href='/stylesheets/base.css',rel='stylesheet', type="text/css")
    script(src="/cdn/jquery.min.js")
    script(src='/cdn/bootstrap.min.js')
    script(src="/socket.io/socket.io.js")
    block head

  body
    include modal-created.jade

    block content

    block footer