include mixins.jade
doctype html
html
  head
    title= title
    script(src="/cdn/jquery.min.js")
    link(href="/cdn/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/animate.css", rel="stylesheet")
    script(src='/cdn/bootstrap.min.js' )
    script(src="/socket.io/socket.io.js")
    link(href='/cdn/OpenSans.css',rel='stylesheet',type='text/css')
    link(href='/cdn/Exo2.css',rel='stylesheet',type='text/css')
    block head

  body
    include modal-created.jade

    block content

    block footer