extends layout

block head
  title Ugly Preloader
  link(href='/stylesheets/base.css', rel='stylesheet')
  script(src='/javascripts/functions.js')
  style.
      div.title { margin-top: 16px; font-weight: 700; text-shadow: 0 0 1em #009cff; text-transform: uppercase; color: #ffffff; font-size: 4em; }


block footer
  script.
    var next = '#{next}';
    var total = 0;
    var current = 0;
    var percent = 0;
    var timers = {};
    function addVideo(element, src, name, type) {
        var video = document.createElement('video');

        video.src = src;
        video.type = type;
        video.name = name;
        video.id = name;

        element.appendChild(video);
        video.addEventListener("progress", progressHandler,false);
    }

    var video;
    var index = 0;
    $(document).ready(function(){
        total = Object.keys(blizzard).length;
        $('#progress').text(100 - parseInt(Object.keys(blizzard).length*100/total) + "%");
        container = document.getElementsByTagName('span')[0];

        $.each(blizzard, function(i, val){
            console.log(blizzard[i]);
            total++;
            setTimeout(function() { addVideo( container, blizzard[i], i, "video/webm") }, Math.round(Math.random()*(3000-500))+500 );
            timers[i] = setInterval(function() { cleanupHandler($('#'+i)) }, Math.round(Math.random()*(1000-500))+1000 );
        });
    });

    cleanupHandler = function(e) {
        // This is crap, I should not have to clean up! But for some reason, the progress handler is not triggering on every element.
        var video = e[0];
        if( video && video.duration ) {
            var loaded = (video.buffered.end(0)/video.duration) * 100;
            console.log( video.name + ": " + loaded );
            $('#id').text(loaded + "%");
            if( loaded >= 100 ) {
                delete blizzard[video.name];
                $('#progress').text(100 - parseInt(Object.keys(blizzard).length*100/total) + "%");
                clearInterval(timers[video.name]);
            }
        }
        if (Object.keys(blizzard).length == 0) {
            document.location = next;
        }
    }

    progressHandler = function(e) {
        video = e.target;

        if( video && video.duration ) {
            var loaded = (video.buffered.end(0)/video.duration) * 100;
            console.log( video.name + ": " + loaded );
            $('#id').text(loaded + "%");
            if( loaded >= 100 ) {
                delete blizzard[video.name];
                $('#progress').text(100 - parseInt(Object.keys(blizzard).length*100/total) + "%");
            }
        }
        if (Object.keys(blizzard).length == 0) {
            document.location = next;
        }
    }


block content
  div(id='wrapper').container.map-bg.divimage-hero-select
    div(id='tvsafe')
      div.row
        div.col-sm-12.text-center
          div(id='title').text.title pre-loading videos...
        div.col-sm-12.text-center
            h1(id='progress',style='text-align: center; font-size: 30em; color: #CCCCCC')
            span(id='video').hide